# Global settings
global
        log 127.0.0.1   local0
        pidfile     /var/run/haproxy.pid
        stats socket /var/lib/haproxy/stats
        maxconn 100000
        user haproxy
        group haproxy
        daemon
        quite
        tune.ssl.default-dh-param 2048
	ssl-default-bind-ciphers ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
        ssl-default-bind-options no-sslv3 no-tls-tickets no-tlsv10
        ssl-server-verify none

# Proxies settings
## Defaults section
defaults
        log     global
        mode    http
        option  tcplog
        option  dontlognull
        retries 3
        option      redispatch
        maxconn     100000
        retries                 3
        timeout http-request    5s
        timeout queue           30s
        timeout connect         30s
        timeout client          30s
        timeout server          30s
        timeout http-keep-alive 30s
        timeout check           30s

## Frontend section
frontend https-in
        bind 0.0.0.0:80
        bind 0.0.0.0:443 ssl crt /etc/letsencrypt/vnsys.wordpress.com/vnsys.pem crt /etc/letsencrypt/cms.vnsys.wordpress.com/cms.pem ciphers HIGH:!aNULL:!MD5
        mode http
        redirect scheme https if { hdr(Host) -i vnsys.wordpress.com } !{ ssl_fc }
     	redirect scheme https if { hdr(Host) -i cms.vnsys.wordpress.com } !{ ssl_fc }
        redirect scheme https if { hdr(Host) -i www.vnsys.wordpress.com } !{ ssl_fc }
        #Define ACL for each subdomain
        acl cms-acl hdr(host) -i cms.vnsys.wordpress.com
        acl vnsys-acl hdr(host) -i vnsys.wordpress.com
        acl www-acl hdr(host) -i www.vnsys.wordpress.com
        #Use Backend Section
        use_backend cms-backend if cms-acl
        use_backend www-backend if vnsys-acl www-acl
        default_backend web-backend

## Backend section
backend web-backend
	balance  roundrobin
	option httplog
	option forwardfor
	server web1 192.168.10.111:8080 check inter 6000 rise 3 fall 3
	server web2 192.168.10.112:8080 check inter 6000 rise 3 fall 3
        server web2 192.168.10.113:8080 check inter 6000 rise 3 fall 3
	http-request set-header X-Forwarded-Port %[dst_port]
	http-request add-header X-Forwarded-Proto https if { ssl_fc }
backend cms-backend
	balance  roundrobin
	option httplog
	option forwardfor
	server web1 192.168.10.111:8080 check inter 6000 rise 3 fall 3
	server web2 192.168.10.112:8080 check inter 6000 rise 3 fall 3
        server web2 192.168.10.113:8080 check inter 6000 rise 3 fall 3
	http-request set-header X-Forwarded-Port %[dst_port]
	http-request add-header X-Forwarded-Proto https if { ssl_fc }
backend www-backend
	balance  roundrobin
	option httplog
	option forwardfor
	server web1 192.168.10.111:8080 check inter 6000 rise 3 fall 3
	server web2 192.168.10.112:8080 check inter 6000 rise 3 fall 3
        server web2 192.168.10.113:8080 check inter 6000 rise 3 fall 3
	http-request set-header X-Forwarded-Port %[dst_port]
	http-request add-header X-Forwarded-Proto https if { ssl_fc }

## Statistics settings
listen statistics
        bind *:1986
        stats enable
	stats admin if TRUE
        stats hide-version
        stats realm Haproxy\ Statistics
        stats uri /stats
        stats refresh 30s
        stats auth keepwalking86:ILoveVietnam$
